# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
.venv/
venv/
env/

# Environment variables and secrets
.env
secrets/
*.json

# Local data artifacts
data/raw/
data/processed/
data/eda/

# OS / editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# Jupyter
.ipynb_checkpoints/